
input {
    border-radius: 8px;
    font-size: 24px;
    padding: 15px 15px;
    margin: 20px 20px;
}

.btn {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#rock {
    color: #FFF;
    background-color: #555;
}

#paper {
    background-color: #FFF;
    border: 1px solid #AAA;
}

#scissors {
    background-color: #005FFF;
}